name: Build

on:
  push:
  pull_request:

jobs:
  build:
    uses: charmbracelet/meta/.github/workflows/build.yml@main

  codecov:
    strategy:
      matrix:
        go-version: [~1.18, ^1]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: ${{ matrix.go-version }}

      - name: Build
        run: go build -v ./...

      - name: Test
        run: go test -failfast -race -coverpkg=./... -covermode=atomic -coverprofile=coverage.txt ./... -timeout 5m

      - uses: codecov/codecov-action@v3
        with:
          file: ./coverage.txt
